@import "./style/colorVar.scss";

#root {
    position: relative;
    height: 100vh;
}

.page {
    background: $backgroundLinearGradient;
}

.search {
    display: flex;
    gap: 10px;
    align-items: center;
    height: fit-content;
}

.title {
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: start;

    @media (max-width:600px) {
        font-size: 20px;
        text-align: center;
    }
}

#inputText {
    padding: 0px 15px;
    width: 100%;
    min-width: 50px;
    border: 1px solid $backgroundGrey;
}

.select {
    padding: 2px 4px;
    border-radius: 30px;
    background-color: $backgroundPaleGrey;
    border: 1px solid $backgroundGrey;
}


.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form>div {
    border-radius: 20px;
    box-shadow: $shadow;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 40px;
}

.buttonValidation {
    background-color: $backgroundPaleBlue;
    border: none;
    box-shadow: $boxShadow;
    font-family: $reem;
    font-size: 18px;
    padding: 8px;
    border-radius: 10px;
    letter-spacing: 2px;
}

.buttonLogin {
    margin-right: 30px;
    background: none;
    color: white;
    border: none;
    letter-spacing: 1px;

    &:hover {
        text-decoration: underline;
    }
}

.secondTitle {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: start;
    color: white;

    @media (max-width:600px) {
        text-align: center;
        font-size: 21px;
    }
}

#menuLinks {
    height: 100%;
    display: flex;
    align-items: end;
}