services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client-tridi
    ports:
      - "8080:8080"
  

  api-gateway:
    build:
      context: ./backend/api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    env_file:
      - ./backend/api-gateway/.env
    ports:
      - "3000:3000"
    volumes:
      - ./backend/api-gateway:/app
    
    develop:
      watch:
        - path: ./backend/api-gateway/
          target: /app/
          action: sync
        - path: ./backend/api-gateway/package.json
          action: rebuild
    
    command: nodemon server.js
   
  auth:
    build:
      context: ./backend/auth
      dockerfile: Dockerfile
    container_name: auth
    depends_on:
      - mongodb-auth
    env_file:
      - ./backend/auth/.env
 
    develop:
      watch:
        - action: sync
          path: ./backend/auth/
          target: /app/
        - action: rebuild
          path: ./backend/auth/package.json

  mongodb-auth:
      image: mongo:latest
      container_name: mongodb-auth
      restart: always
      ports:
        - "27018:27017"
      volumes:
        - mongodb-auth:/data/db
      environment:
        MONGO_INITDB_ROOT_USERNAME: root
        MONGO_INITDB_ROOT_PASSWORD: example
  
  admin:
    build:
      context: ./backend/admin
      dockerfile: Dockerfile
    container_name: admin
    depends_on:
      - mongodb-products
      - mongodb-auth
    env_file:
      - ./backend/admin/.env
 
    develop:
      watch:
        - action: sync
          path: ./backend/admin/
          target: /app/
        - action: rebuild
          path: ./backend/admin/package.json
  
  products:
    build:
      context: ./backend/products
      dockerfile: Dockerfile
    container_name: products
    depends_on:
      - mongodb-products
    env_file:
      - ./backend/products/.env
    volumes:
      - ./backend/products:/app
    ports:
      - "8083:8083"
 
    develop:
      watch:
        - action: sync
          path: ./backend/products/
          target: /app/
        - action: rebuild
          path: ./backend/products/package.json

    command: nodemon server.js

  mongodb-products:
      image: mongo:latest
      container_name: mongodb-products
      restart: always
      ports:
        - "27019:27017"
      volumes:
        - mongodb-products:/data/db
      environment:
        MONGO_INITDB_ROOT_USERNAME: root
        MONGO_INITDB_ROOT_PASSWORD: example

volumes:
  mongodb-auth:
  mongodb-products: