services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client-tridi
    environment:
      - CI=true
    ports:
      - "8080:8080"
    command: sh -c "npm run test && npm run dev"

  api-gateway:
    build:
      context: ./backend/api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    env_file:
      - ./backend/api-gateway/.env
    ports:
      - "3000:3000"
    volumes:
      - ./backend/api-gateway:/app

    develop:
      watch:
        - path: ./backend/api-gateway/
          target: /app/
          action: sync
        - path: ./backend/api-gateway/package.json
          action: rebuild

    command: nodemon server.js

  auth:
    build:
      context: ./backend/auth
      dockerfile: Dockerfile
    container_name: auth
    depends_on:
      - mongodb-auth
    ports:
      - "8081:8081"
    env_file:
      - ./backend/auth/.env

    develop:
      watch:
        - action: sync
          path: ./backend/auth/
          target: /app/
        - action: rebuild
          path: ./backend/auth/package.json

  admin:
    build:
      context: ./backend/admin
      dockerfile: Dockerfile
    container_name: admin
    depends_on:
      - mongodb-products
      - mongodb-auth
    env_file:
      - ./backend/admin/.env
    ports:
      - "8082:8082"
    develop:
      watch:
        - action: sync
          path: ./backend/admin/
          target: /app/
        - action: rebuild
          path: ./backend/admin/package.json

  products:
    build:
      context: ./backend/products
      dockerfile: Dockerfile
    container_name: products
    depends_on:
      - mongodb-products
    env_file:
      - ./backend/products/.env
    volumes:
      - ./backend/products:/app
    ports:
      - "8083:8083"

    develop:
      watch:
        - action: sync
          path: ./backend/products/
          target: /app/
        - action: rebuild
          path: ./backend/products/package.json

    command: nodemon server.js

  profil:
    build:
      context: ./backend/profil
      dockerfile: Dockerfile
    container_name: profil
    depends_on:
      - mongodb-profil
      - auth
    env_file:
      - ./backend/profil/.env
    volumes:
      - ./backend/profil:/app
    ports:
      - "8084:8084"

    develop:
      watch:
        - action: sync
          path: ./backend/profil/
          target: /app/
        - action: rebuild
          path: ./backend/profil/package.json

  service:
    build:
      context: ./backend/service
      dockerfile: Dockerfile
    container_name: service
    env_file:
      - ./backend/service/.env
    volumes:
      - ./backend/service:/app
    ports:
      - "8085:8085"

    develop:
      watch:
        - action: sync
          path: ./backend/service/
          target: /app/
        - action: rebuild
          path: ./backend/service/package.json

  test:
    build:
      context: ./backend/testApi
      dockerfile: Dockerfile
    container_name: test
    depends_on:
      - service
      - profil
      - products
      - api-gateway
      - auth
    volumes:
      - ./backend/testApi:/app
    develop:
      watch:
        - action: sync
          path: ./backend/testApi/
          target: /app/
        - action: rebuild
          path: ./backend/testApi/package.json
    env_file:
      - ./backend/testApi/.env.test
    command: >
      ./wait-for-it.sh auth:8081 --  ./wait-for-it.sh service:8085 --  ./wait-for-it.sh profil:8084 --  ./wait-for-it.sh products:8083 --  ./wait-for-it.sh api-gateway:3000 --  npm test

  mongodb-auth:
    image: mongo:latest
    container_name: mongodb-auth
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongodb-auth:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongodb-products:
    image: mongo:latest
    container_name: mongodb-products
    restart: always
    ports:
      - "27019:27017"
    volumes:
      - mongodb-products:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongodb-profil:
    image: mongo:latest
    container_name: mongodb-profil
    restart: always
    ports:
      - "27020:27017"
    volumes:
      - mongodb-profil:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

volumes:
  mongodb-auth:
  mongodb-products:
  mongodb-profil:
