services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client-tridi
    ports:
      - "8080:8080"
  

  server:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: server-tridi
    ports:
      - "3000:3000"
   
  

