@use '../../style/colorVar.scss' as colors;

.canva3D{
    border-radius: 10px ;
    margin: auto;
    box-shadow: colors.$boxShadow;
    border: 1px solid colors.$border3D;
    background-color: colors.$backgroundLinearGradient;
   
}