@use "../../style/colorVar.scss" as colors;

.inputSign{
    height: 35px;
    border-radius: 10px;
    background-color: colors.$backgroundPaleGrey;
    width: 100%;
    @media (max-width:1200px) {
        height: 30px;
    }
}
.formSign > div{
    height: 75%;
    justify-content: center;
    gap: 15px;
}
.dateSign{
    padding: 0px 15px;
    min-width: 100px;
    border: 1px solid colors.$backgroundGrey;
    color:colors.$backgroundGrey;
}
.titleSign{
    height: 60px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 35px;
    font-family: colors.$font2;
    font-weight: bolder;
    text-decoration: underline;
}
