@import "../../style//colorVar.scss";

.inputSign{
    height: 35px;
    @media (max-width:1200px) {
        height: 30px;
    }
    border-radius: 10px;
    background-color: $backgroundPaleGrey;
}
.formSign > div{
    height: 75%;
    justify-content: center;
    gap: 15px;
}
.dateSign{
    padding: 0px 15px;
    min-width: 100px;
    border: 1px solid $backgroundGrey;
    color:$backgroundGrey;
}
.titleSign{
    height: 60px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 35px;
    font-family: $font2;
    font-weight: bolder;
    text-decoration: underline;
}
