@import "../../style/colorVar.scss";


.titleLogin{
    margin-bottom: 15px;
    text-align: center;
    font-size: 35px;
    height: 60px;
    font-family: $font2;
    font-weight: bolder;
    text-decoration: underline;
}