@use "../../style/colorVar.scss" as colors;


.titleLogin{
    margin-bottom: 15px;
    text-align: center;
    font-size: 35px;
    height: 60px;
    font-family: colors.$font2;
    font-weight: bolder;
    text-decoration: underline;
}