@import "../../style/colorVar.scss";

.inputLogin{
    height: 40px;
    border-radius: 10px;
    background-color: $backgroundPaleGrey;
}
.titleLogin{
    margin-bottom: 15px;
    text-align: center;
    font-size: 35px;
    height: 60px;
    font-family: $reem;
    font-weight: bolder;
    text-decoration: underline;
}