@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&family=Reem+Kufi:wght@400..700&display=swap');

// color background

$backgroundGrey: #7B7B7B;
$backgroundPaleGrey: #E8E9F3;
$backgroundPaleBlue : #B1E5F2;
$backgroundBlue : #00070f;
$backgroundText : #53535330;

// color text
$textColor: #E8E9F3;

// font

$kufam : "Kufam", sans-serif;
$reem : "Reem Kufi", sans-serif;

// gradient / shadow

$backgroundLinearGradient: linear-gradient(146deg, rgba(39, 38, 53, 1) 0%, rgba(0, 0, 0, 1) 100%);
$shadow: 0px 4px 10px 4px rgba(0,0,0,0.25) inset;

$boxShadow : rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
