@import "../../style//colorVar.scss";

.inputAddPubli {
    height: 35px;
    border-radius: 10px;
    background-color: $backgroundPaleGrey;
    max-width: 150px;
    min-width: 60px;
}


.textarea {
    width: 80%;
    height: 120px;
    max-width: 400px;
    padding: 10px 15px;
}


.buttonValidation {
    width: 150px;
    position: absolute;
    bottom: 30px;
    right: 25px;
    
}