@use "../../style/colorVar.scss" as colors;

.inputAddPubli {
    height: 35px;
    border-radius: 10px;
    background-color: colors.$backgroundPaleGrey;
    max-width: 85px;
    min-width: 60px;
    border: 1px solid colors.$backgroundGrey;
}


.textarea {
    width: 80%;
    height: 60px;
    max-width: 400px;
    padding: 10px 15px;
    @media (min-width:900px) {
        height: 120px;
    }
}


.buttonValidation {
    width: 150px;
    position: absolute;
    bottom: 30px;
    right: 25px;
    
}

.buttonAddProduct{
    bottom: 10px;
}


