@use "../../style/colorVar.scss" as colors;

.footer {
  padding-top: 15px;
  padding-bottom : 5px;
  box-shadow: 0px 10px 15px colors.$backgroundPaleBlue;
  position: absolute;
  bottom: 0;
  min-width: 100%;
  height: 150px;
  background: colors.$backgroundBlueFooter;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  // padding-top: 20px;

  @media (max-width: 600px) {
    height: 150px;
  }

  .linksFooter {
    
    text-decoration: underline;
    list-style-type: none;
    font-size: 14px;
    color: colors.$backgroundPaleBlue;
    @media (max-width: 600px) {
      font-size: 13px;
    }
    li {
      cursor: pointer;
      padding: 2px 5px;
    }
  }

  .linksFooter :hover {
    color: white;
  }
}
#infoEntreprise{
  @media (max-width: 500px) {
    flex-direction: column;
  }
  
  height: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  img{
    @media (max-width: 400px) {
      display: none;
    }
    width:40px;
    height: auto;
  }
  h1{
    @media (max-width: 700px){
      font-size: 20px;
    }
    @media (max-width:400px) {
      display: none;
    }
    color: white;
    width: fit-content;
  }
}
