@import "../../style/colorVar.scss";

.sidePadding{
    padding: 0px 50px;
}
.positionAbsolute{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

#titleProfil{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    background-color: $backgroundText;
    padding: 5px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 10px;
}